.nav-right {
    color: #443c3c;
    border-left: black solid;
    border-radius: 10vh;
}

.nav-right :hover {
    background-color: #443c3c;
    border-left: black solid;
    border-radius: 10vh;
}

.w50{
    width: 50%;
}

.flex {
    display: flex;
}
.mt-1 {
    margin-top: 1px;
}

.mt-2 {
    margin-top: 2px;
}

.mr-3{
    margin-right: 3px;
}
.search-bar-div {
    margin-top: 7vh;
    text-align: center;
}

.currency-container{
    margin-left: 25vh;
    margin-right: 25vh;
}
.spc_btw{
    justify-content: space-between;
}

.favorites {
    width: 100%;
}