@{
    ViewBag.Title = "Home Page";
}

<div class="form-group search-bar-div">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Search</h2>
            <div>
                <input type="text" name="name" value="" />
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log In" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<hr class="currency-container" />
<div class="currency-container">
    <!--foreach ktu per te marr te dhenat-->AC
    <ul class="list-inline">
            <li>Eur</li>
            <li>-</li>
            <li>Usd</li>
        <li style="float:right">curr</li>
    </ul> 
</div>