@{
    ViewBag.Title = "Home Page";
}

<div class="form-group search-bar-div">
    <form action="/" method="post">
        <input type="text" id="search" />
        <br />
        <input class="mt-2" type="button" value="Search" />
    </form>
</div>
<hr class="currency-container" />
<div class="currency-container">
    <!--foreach ktu per te marr te dhenat-->AC
    <ul class="list-inline">
            <li>Eur</li>
            <li>-</li>
            <li>Usd</li>
        <li style="float:right">curr</li>
    </ul> 
</div>